/* First Page Code */
.body {
	background-color:white;
}
/* Title of First Page */
.covidjournal {
	font-size: 30px;
	color: black;
	font-style: bold;
	text-align: center;
}
/* Secondary Text */
.journaladmin {
	font size: 15px;
	font color: black;
	text-align: justify;
}
/* Take Survey Button */
.survey1button {
	background-color: red;
	color: white;
	text-align: center;
	font-size:16px;
	padding: 10px 20px;
	border-radius: 30px;
	border: none;
}
/* Log In Button */	
.adminbutton {

	background-color: blue;
	color: white;
	text-align: center;
	font-size:16px;
	padding: 10px 20px;
	border-radius: 30px;
	border: none;
}
/* Results Button */
	.resultsbutton {
		background-color: green;
		color: white;
		text-align: center;
		font-size: 16px;
		padding: 10px 20px;
		border-radius: 30px;
		border: none;
}
/* Survey Page CODE */
.body {
	background-color: #FFFAFA;
}
/* All Questions And Comments Use This Class */	
.QuestionsComments{
	font-size: 20px;
	color: black;
	font-style: bold;
	text-align: center;
}
/* Submit Button */
.submitbutton {
font-size: 16px;
color: white;
background-color: green;
text-align: center;
padding: 10px 20px;
border-radius: 30px;
border: none;
}
/* Labeling The Symptoms Use This Class */
.symptoms {
	font-size: 10px;
	color: red;
	text-align: center;
}
/* Entering In Location Use This Class */	
.location {
	font-size: 20px;
	color: black;
	font-style: bold;
	text-align: center;
	text-decoration: underline;
	}
	/* Question About Medication Use This Class */
	.medication {
		font-size: 20px;
		color: black;
		font-style: bold;
		text-align: center;
		text-decoration: underline;
}
/* Admin Log In Page */
.body {
background-color: FFFAFA;
}
.submitbutton {
background-color: green;
color: white;
padding: 10px 20px;
text-align: center;
font-size: 16px;
border-radius: 30px;
border: none;
}
/* Home Page * Change Not Reflecting */
.homebutton {
background-color: blue;
color: white;
padding: 10px 20px;
text-align: center;
font-size: 16px;
border-radius: 30px;
border: none;	
}
/* Post Survey Page */
.LogRecorded {
font-size: 20px;
color: black;
font-style: bold;
text-align: center;
text-decoration: underline;
}
/* Survey Text */
.SurveyText {
font-size: 15px;
color: black;
text-align: justify;
}
/* Visualization Button */
.visualizationbutton {
background-color: lightblue;
color: white;
padding: 10px 20px;
text-align: center;
font-size: 16px;
border-radius: 30px;
border: none;
}
/* Admin Data Visualization Page */
/* Admin Below our Patients Results */
.body {
background-color: FFFAFA;
}
/* Log Out Button */
.logoutbutton {
background-color: blue;
color: white;
padding: 10px 20px;
text-align: center;
font-size: 16px;
}
/* Personal Data Visualization Page */
.BelowIsPatientData {
font-size: 20px;
color: black;
font-style: bold;
text-align: center;
text-decoration: underline;
}
/* Log Out Button is Under Admin Visualization Page*/



	


		
			
			
		
