/* First Page Code */
.body {
	background-color: #FFFAFA;
}
/* Title of First Page */
.covidjournal {
	font-size: 30px;
	color: black;
	font-style: bold;
	text-align: center;
	text-decoration: underline;
}
/* Secondary Text */
.journaladmin {
	font size: 15px;
	font color: black;
	text-align: justify;
}
/* Take Survey Button */
.survey1button {
	background-color: blue;
	color: white;
	text-align: center;
	font-size:16px;
	padding: 10px 20px;
}
/* Log In Button */	
.adminbutton {

	background-color: blue;
	color: white;
	text-align: left;
	font-size:16px;
	padding: 10px 20px;
}
/* Results Button */
	.resultsbutton {
		border:none;
		background-color: blue;
		color: white;
		text-allign: center;
		font-size: 10px;	
}
/* Survey Page CODE */
.body {
	background-color: #FFFAFA;
}
/* All Questions And Comments Use This Class */	
.QuestionsComments{
	font-size: 20px;
	color: black;
	font-style: bold;
	text-align: center;
	text-decoration: underline;
}
/* Labeling The Symptoms Use This Class */
.symptoms {
	font-size: 12px;
	color: black;
	text-align: center;
}
/* Entering In Location Use This Class */	
.location {
	font-size: 20px;
	color: black;
	font-style: bold;
	text-align: center;
	text-decoration: underline;
	}
	/* Question About Medication Use This Class */
	.medication {
		font-size: 20px;
		color: black;
		font-style: bold;
		text-align: center;
		text-decoration: underline;
}
/* Admin Log In Page */
.body {
background-color: FFFAFA;
}
.submitbutton {
background-color: green;
color: white;
padding: 10px 20px;
text-allign: center;
font-size: 16px;
}
/* Home Page */
.homebutton {
background-color: blue;
color: white;
padding: 10px 20px;
text-allign: center;
font-size: 16px;
}
/* Post Survey */
.LogRecorded {
font-size: 20px;
color: black;
font-style: bold;
text-align: center;
text-decoration: underline;
}
.SurveyText {
font-size: 15px;
color: black;
text-align: justify;
}
.VisualizationButton {
background-color: blue;
color: white;
padding: 10px 20px;
text-align: center;
font-size 16px;
	
	


		
			
			
		
